$color-black:                   #000000 !default;
$color-white:                   #ffffff !default;
$color-accent:                  #3a7ad3 !default;

$typography-primary:            #323441 !default;
$typography-inverse:            #ffffff !default;
$typography-error: 				#d34254 !default;

$bg-primary:                    #ffffff !default;
$bg-secondary:                  #f8fafd !default;
$bg-tertiary:                   #e3e8f0 !default;

$body-bg:                       $bg-primary !default;
$body-color:                    $typography-primary !default;

$font-family-primary:           'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !default;
$font-family-heading:           'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !default;
$font-family-base:              $font-family-primary !default;

$font-size-root:                null !default;
$font-size-base:                1rem !default;

$font-weight-normal:            400 !default;
$font-weight-base:              $font-weight-normal !default;
$line-height-base:              100% !default;

$screen-xs:                     0 !default;
$screen-sm:                     576px !default;
$screen-md:                     768px !default;
$screen-lg:                     992px !default;
$screen-xl:                     1336px !default;

$container-sm:                  568px !default;
$container-md:                  720px !default;
$container-lg:                  960px !default;
$container-xl:                  1248px !default;

$grid-columns:                  12 !default;
$grid-gutter-width:             32px !default;
