// В этом файле должны быть стили для БЭМ-блока field, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field {
	&__label {
		@include field-label;
		margin-bottom: 8px;
		@media (min-width: $screen-lg) {
			margin-bottom: 12px;
		}
	}
	&__input {}
	&__info {
		color: #f9313b;
		display: none;
		@include field-info;
		margin-top: 4px;
	}
	&__row {
		display: grid;
		grid-gap: 8px;
		grid-template-columns: 80px 80px;
	}
}
